.RollDice-dice-pair {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Die {
    font-size: 10em;
    padding: 0.25em;
    color: rgb(71, 171, 233);
}

.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
}

.RollDice button:hover {
    background-color: rgb(71, 171, 233);
    cursor: pointer;
}